.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    color: #333;
}

.sidebar ul li:hover {
    background-color: #ddd;
}

.sidebar ul li.active {
    background-color: #333;
    color: #fff;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        padding: 15px;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}