.table-container {
    max-height: 400px; /* Ограничиваем высоту таблицы */
    overflow-y: auto; /* Добавляем вертикальный скроллинг */
    border: 1px solid #ccc;
  }
  
  .client-table {
    width: 150%;
    border-collapse: collapse;
    table-layout: fixed;
  }
 td{
    width: 10px;
 }
  .client-table th {
    position: sticky;
    top: 0;
    background: #f5f5f5;
    z-index: 1;
  }
  
  .client-table th,
  .client-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .client-table tbody tr:nth-child(odd) {
    background: #f9f9f9;
  }
  